<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-chip (click)="goToAccount()" color="medium">
        <ion-avatar class="hello bg-primary margin-right-4">
          <img *ngIf="this.photoURL()" [src]="this.photoURL()">
          <p *ngIf="!this.photoURL()" class="uppercase">
            {{
              (displayName())
              ? displayName()[0]
              : email[0] 
            }}
          </p>
        </ion-avatar>
        <ion-label color="primary" id="label-name">
          {{
            (displayName()) 
            ? (displayName().split(' ')[0] | titlecase) 
            : email().split('@')[0] 
          }}
        </ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


