.speaker-background {
    position: relative;
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    img {
        width: 150px;
        border-radius: 50%;
    }
    h2 {
        position: absolute;
        bottom: 10px;
    }
  }
  .speaker-detail p {
    margin-left: 6px;
    margin-right: 6px;
  }
  
  .speaker-detail hr {
    margin-top: 20px;
    margin-bottom: 20px;
  
    background: var(--ion-color-step-150, #d7d8da);
  }