.container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	ion-card{
		width: 30%;
		height: 300px;
		min-width: 250px;
		max-width: 500px;
		margin: 20px;
		position: relative;
		ion-card-header{
			width: 100%;
			height: 30%;
			box-sizing: border-box;
		}
		ion-card-content{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			*{
				font-size: 36px;
			}
		}
	}
}